body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #767876;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

article {
    margin: 20px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

button:hover {
    background-color: #ddd;
}

.content {
    display: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #767876;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: static;
    bottom: 0;
    width: 100%;
}
header p {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}